body {
    background-color: #999;
}

.title{ 
    text-align: center;
}

.buttons { 
    text-align: center;
    padding: 3rem 0 3rem 0;
    justify-content: space-between;
}

#rock, #paper, #scissors {
    padding:  0.4rem 1rem;
    margin: 1rem;
}